<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!-- スリープまでの無操作時間（秒）デフォルト 1時間（60 * 60 * 1） -->
    <add key="SleepCheckTime" value="3600" />
    <!-- スリープ前 画面表示時間（秒）デフォルト 60秒 -->
    <add key="SleepVisibleTime" value="60" />
    <!-- マウス移動判断許容範囲X軸 -->
    <add key="PermissibleRangeX" value="50" />
    <!-- マウス移動判断許容範囲Y軸 -->
    <add key="PermissibleRangeY" value="50" />
    <!-- スリープモード Hibernate/Suspend -->
    <add key="SleepMode" value="Hibernate" />
    <!-- アプリバージョン -->
    <add key="Version" value="0.1.0" />
  </appSettings>
</configuration>